requests
python-dotenv
pandas
numpy
sqlalchemy
sentence-transformers
faiss-cpu
chromadb
langchain
langchain-community
transformers
accelerate
bitsandbytes
torch
streamlit
fpdf2
matplotlib
fastmcp
asyncio
load_dotenv
langchain-core 
langchain-text-splitters